dotnet/src/.idea/.idea.erpl-be/.idea
dotnet/src/.idea
dotnet/src/api/erpl.api/logs.txt
dotnet/src/api/erpl.api/bin/Debug/net6.0
dotnet/src/api/erpl.api/obj
dotnet/src/common/erpl.common.dtos/bin
dotnet/src/common/erpl.common.dtos/obj
dotnet/src/common/erpl.common.infrastructure/bin/Debug
dotnet/src/common/erpl.common.infrastructure/obj
dotnet/src/domain/erpl.contracts/bin
dotnet/src/domain/erpl.contracts/obj/Debug
dotnet/src/domain/erpl.contracts/obj
dotnet/src/domain/erpl.model/bin
dotnet/src/domain/erpl.model/obj/Debug
dotnet/src/domain/erpl.model
dotnet/src/domain/erpl.repository
dotnet/src/domain/erpl.services/obj/Debug
dotnet/src/domain/erpl.services/bin/Debug
dotnet/src/domain/erpl.services/obj
dotnet/src/test/erpl.Integration.tests/bin/Debug
dotnet/src/test/erpl.Integration.tests/obj/Debug
dotnet/src/test/erpl.Integration.tests/obj
